.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    background: url("../images/logo.png") no-repeat;
    margin: 16px;
    background-size: 80%;
}

.site-layout .site-layout-background {
    background: #fff;
}

span{
    color: rgb(204, 199, 199);
}
a{
    color: rgb(208, 205, 205);
}
a:active{
    color:#fff;
}
a:hover{
    color:#fff;
}